.container {
	float: left;
	width: 100%;
}

.barcode_block {
	display: inline-block;
	border: 1px black solid;
	border-collapse: collapse;;
	padding: 0px 5px 10px 5px;
}

.barcode_item {

}

.barcode_label {
	text-align: center;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 14px;
}